.Literary{
    color:#c084fc;
    font-weight: 600;
    font-size: 3.2rem;
    font-family: 'Poppins', sans-serif;
}

.carousalbody{
    font-size: 3.2rem;
    font-family: 'Poppins', sans-serif;
}
.centered-input-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  border-radius: 20px 20px 20px 20px
}

.small-input {
 
  border-radius: 20px 20px 20px 20px; 

  


}

.custom-button {
  background-color: #c084fc;
  color: white;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #a06edc;
}

.browse-book {
  background-color: #c084fc;
  color: white;
  border: none; 
  font-weight: 600; 
  padding: 10px 20px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.browse-book:hover {
  background-color: #a06edc; 
}

